<%- include('partial/header'); -%>
  <!-- Sidebar  -->
  <div
    class="z-[100] bg-base-100 xl:bg-transparent flex duration-150 flex-col items-center w-full translate-x-[-100%] xl:translate-x-0 absolute xl:relative min-h-screen py-5 xl:w-1/5 gap-y-10"
    id="sidebar">
    <div class="relative flex justify-center w-full">
      <img src="/img/logo.png" alt="" class="h-28 w-fit" />
      <button class="absolute top-0 right-[5%] btn btn-outline btn-primary xl:hidden" onclick="sidebarToggle()">
        <i class="text-xl bi bi-x"></i>
      </button>
    </div>

    <div class="flex flex-col gap-y-4">
      <a href="/admin/doctor-list" class="sidebar-link">
        <i class="bi bi-clipboard-pulse"></i>
        Doctors</a>
      <a href="/admin/hospital-list" class="sidebar-link active-sidebar-link">
        <i class="bi bi-hospital"></i>
        Hospitals</a>
      <a href="/admin/sector-list" class="sidebar-link">
        <i class="bi bi-gear-wide-connected"></i>
        Sectors</a>
      <a href="/admin/log-out" class="mt-5 sidebar-link">
        <i class="text-xl bi bi-box-arrow-right"></i>
        Log Out</a>
    </div>
  </div>

  <!-- Main body section -->
  <div class="flex flex-col w-full px-5 py-5 overflow-y-auto xl:px-0 xl:w-4/5">
    <div class="flex justify-between">
      <h2 class="text-3xl font-bold text-black">
        Hospital Details
      </h2>
      <button class="btn btn-outline btn-accent xl:hidden" onclick="sidebarToggle()">
        <i class="text-xl bi bi-list"></i>
      </button>
    </div>
    <div class="flex flex-col mt-10 gap-y-5 mb-5 xl:mb-0 bg-base-100 p-10">
      <h3 class="text-2xl font-bold">
        <%= hospital[0].hospital_name %>
      </h3>

      <!-- Info -->
      <div class="flex flex-col form-control gap-y-1">
        <label for="name" class="label">Address</label>
        <p class="p-4 border rounded-lg">
          <%= hospital[0].hospital_address %>
        </p>
      </div>
      <div class="flex flex-col form-control gap-y-1">
        <label for="name" class="label">Contact No</label>
        <p class="p-4 border rounded-lg">
          <%= hospital[0].hostipal_mobile %>
        </p>
      </div>

      <div class="grid lg:grid-cols-3 gap-5">
        <!-- Category  -->
        <div class="flex flex-col form-control gap-y-1">
          <label for="name" class="label">Division</label>
          <p class="p-4 border rounded-lg">
            <%= hospital[0].division_name %>
          </p>
        </div>
        <!-- Longitude -->
        <div class="flex flex-col form-control gap-y-1">
          <label for="name" class="label">District</label>
          <p class="p-4 border rounded-lg">
            <%= hospital[0].district_name %>
          </p>
        </div>

        <!-- Latitude -->
        <div class="flex flex-col form-control gap-y-1">
          <label for="name" class="label">Thana</label>
          <p class="p-4 border rounded-lg">
            <%= hospital[0].thana_name %>
          </p>
        </div>
      </div>

      <div class="grid lg:grid-cols-2 gap-5">
        <!-- Operation List -->
        <div class="flex flex-col form-control gap-y-1">
          <label for="name" class="label">Sector List</label>
          <p class="p-4 border rounded-lg">
            <% for(let j=0; j <hospital_sector.length; j++) { %>
              <span class="doctor-list-item font-bold">
                <%= hospital_sector[j].sector_name_bng %>
              </span>
              <% } %>
          </p>
        </div>

        <!-- Speciality -->
        <div class="flex flex-col form-control gap-y-1">
          <label for="name" class="label">Doctor List</label>
          <p class="p-4 border rounded-lg">
            <% for(let k=0; k <hospital_doctor.length; k++) { %>
              <span class="doctor-list-item font-bold">
                <%= hospital_doctor[k].doctor_name %>
              </span>
              <% } %>
          </p>
        </div>
      </div>

    </div>
  </div>
  <%- include('partial/footer'); -%>